@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*Variáveis Globais do CSS*/
:root {
    /*Fonte da página*/
    --font-primary: "Krona One", sans-serif;
    --font-secondary: "Montserrat", sans-serif;

    /*Cor da página*/
    --primary-color: #000000;
    --secondary-color: #F6F6F6;
    --tertiary-color:  #22D4FD;
    
    /*Hover*/
    --primary-hover-color: #272727;
    --tertiary-hover-color: #509def;

}

.container-nav{
    background-color: var(--primary-color);
    padding: 2% 0 2% 15%;
    gap: 40px;
    display: flex;
}

.container-nav__link {
    color: var(--tertiary-color);
    font-family: var(--font-secondary);
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    align-items: center;
}

.container-nav__link:hover{
    color: var(--tertiary-hover-color);
    transition: all 100ms;
}

.container-main {
    /* background-color: var(--primary-color); */
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}